{
   "openapi": "3.0.0",
   "info": {
      "description": "API definition for quantra.io. [More information here](https://quantra.io/).",
      "version": "1.0.0",
      "title": "quantra.io",
      "termsOfService": "https://quantra.io",
      "contact": {
         "email": "hello@quantra.io"
      },
      "license": {
         "name": "Apache 2.0",
         "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
      }
   },
   "servers": [
      {
         "url": "https://json.quantra.io"
      }
   ],
   "tags": [
      {
         "name": "Enum",
         "description": "QuantLib enumeration values requests"
      }
   ],
   "paths": {
      "/price-fixed-rate-bond": {
         "post": {
            "tags": [
               "Bond pricing"
            ],
            "summary": "Endpoint to price fixed rate coupon bond",
            "requestBody": {
               "required": true,
               "content": {
                  "application/json": {
                     "schema": {
                        "$ref": "#/components/schemas/quantra_PriceFixedRateBond"
                     }
                  }
               }
            },
            "responses": {
               "200": {
                  "description": "OK",
                  "content": {
                     "text/json": {
                        "schema": {
                           "$ref": "#/components/schemas/quantra_PriceFixedRateBondResponse"
                        }
                     }
                  }
               }
            }
         }
      }
   },
   "components": {
      "schemas": {
         "quantra_enums_DayCounter": {
            "type": "string",
            "enum": [
               "Actual360",
               "Actual365Fixed",
               "Actual365NoLeap",
               "ActualActual",
               "ActualActualISMA",
               "ActualActualBond",
               "ActualActualISDA",
               "ActualActualHistorical",
               "ActualActual365",
               "ActualActualAFB",
               "ActualActualEuro",
               "Business252",
               "One",
               "Simple",
               "Thirty360"
            ]
         },
         "quantra_enums_Interpolator": {
            "type": "string",
            "enum": [
               "BackwardFlat",
               "ForwardFlat",
               "Linear",
               "LogCubic",
               "LogLinear"
            ]
         },
         "quantra_enums_BootstrapTrait": {
            "type": "string",
            "enum": [
               "Discount",
               "FwdRate",
               "InterpolatedDiscount",
               "InterpolatedFwd",
               "InterpolatedZero",
               "ZeroRate"
            ]
         },
         "quantra_enums_TimeUnit": {
            "type": "string",
            "enum": [
               "Days",
               "Hours",
               "Microseconds",
               "Milliseconds",
               "Minutes",
               "Months",
               "Seconds",
               "Weeks",
               "Years"
            ]
         },
         "quantra_enums_Calendar": {
            "type": "string",
            "enum": [
               "Argentina",
               "Australia",
               "BespokeCalendar",
               "Brazil",
               "Canada",
               "China",
               "CzechRepublic",
               "Denmark",
               "Finland",
               "Germany",
               "HongKong",
               "Hungary",
               "Iceland",
               "India",
               "Indonesia",
               "Israel",
               "Italy",
               "Japan",
               "Mexico",
               "NewZealand",
               "Norway",
               "NullCalendar",
               "Poland",
               "Romania",
               "Russia",
               "SaudiArabia",
               "Singapore",
               "Slovakia",
               "SouthAfrica",
               "SouthKorea",
               "Sweden",
               "Switzerland",
               "TARGET",
               "Taiwan",
               "Turkey",
               "Ukraine",
               "UnitedKingdom",
               "UnitedStates",
               "UnitedStatesGovernmentBond",
               "UnitedStatesNERC",
               "UnitedStatesNYSE",
               "UnitedStatesSettlement",
               "WeekendsOnly"
            ]
         },
         "quantra_enums_BusinessDayConvention": {
            "type": "string",
            "enum": [
               "Following",
               "HalfMonthModifiedFollowing",
               "ModifiedFollowing",
               "ModifiedPreceding",
               "Nearest",
               "Preceding",
               "Unadjusted"
            ]
         },
         "quantra_enums_Frequency": {
            "type": "string",
            "enum": [
               "Annual",
               "Bimonthly",
               "Biweekly",
               "Daily",
               "EveryFourthMonth",
               "EveryFourthWeek",
               "Monthly",
               "NoFrequency",
               "Once",
               "OtherFrequency",
               "Quarterly",
               "Semiannual",
               "Weekly"
            ]
         },
         "quantra_enums_Ibor": {
            "type": "string",
            "enum": [
               "Euribor10M",
               "Euribor11M",
               "Euribor1M",
               "Euribor1Y",
               "Euribor2M",
               "Euribor2W",
               "Euribor365_10M",
               "Euribor365_11M",
               "Euribor365_1M",
               "Euribor365_1Y",
               "Euribor365_2M",
               "Euribor365_2W",
               "Euribor365_3M",
               "Euribor365_3W",
               "Euribor365_4M",
               "Euribor365_5M",
               "Euribor365_6M",
               "Euribor365_7M",
               "Euribor365_8M",
               "Euribor365_9M",
               "Euribor365_SW",
               "Euribor3M",
               "Euribor3W",
               "Euribor4M",
               "Euribor5M",
               "Euribor6M",
               "Euribor7M",
               "Euribor8M",
               "Euribor9M",
               "EuriborSW"
            ]
         },
         "quantra_enums_DateGenerationRule": {
            "type": "string",
            "enum": [
               "Backward",
               "CDS",
               "Forward",
               "OldCDS",
               "ThirdWednesday",
               "Twentieth",
               "TwentiethIMM",
               "Zero"
            ]
         },
         "quantra_enums_Compounding": {
            "type": "string",
            "enum": [
               "Compounded",
               "Continuous",
               "Simple",
               "SimpleThenCompounded"
            ]
         },
         "quantra_Point": {
            "type": "string",
            "enum": [
               "NONE",
               "DepositHelper",
               "FRAHelper",
               "FutureHelper",
               "SwapHelper",
               "BondHelper"
            ]
         },
         "quantra_Schedule": {
            "type": "object",
            "properties": {
               "calendar": {
                  "$ref": "#/components/schemas/quantra_enums_Calendar"
               },
               "effective_date": {
                  "type": "string"
               },
               "termination_date": {
                  "type": "string"
               },
               "frequency": {
                  "$ref": "#/components/schemas/quantra_enums_Frequency"
               },
               "convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "termination_date_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "date_generation_rule": {
                  "$ref": "#/components/schemas/quantra_enums_DateGenerationRule"
               },
               "end_of_month": {
                  "type": "boolean"
               }
            },
            "additionalProperties": false
         },
         "quantra_DepositHelper": {
            "type": "object",
            "properties": {
               "rate": {
                  "type": "number"
               },
               "tenor_time_unit": {
                  "$ref": "#/components/schemas/quantra_enums_TimeUnit"
               },
               "tenor_number": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "fixing_days": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "calendar": {
                  "$ref": "#/components/schemas/quantra_enums_Calendar"
               },
               "business_day_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               }
            },
            "additionalProperties": false
         },
         "quantra_FRAHelper": {
            "type": "object",
            "properties": {
               "rate": {
                  "type": "number"
               },
               "months_to_start": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "months_to_end": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "fixing_days": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "calendar": {
                  "$ref": "#/components/schemas/quantra_enums_Calendar"
               },
               "business_day_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               }
            },
            "additionalProperties": false
         },
         "quantra_FutureHelper": {
            "type": "object",
            "properties": {
               "rate": {
                  "type": "number"
               },
               "future_start_date": {
                  "type": "string"
               },
               "future_months": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "calendar": {
                  "$ref": "#/components/schemas/quantra_enums_Calendar"
               },
               "business_day_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               }
            },
            "additionalProperties": false
         },
         "quantra_SwapHelper": {
            "type": "object",
            "properties": {
               "rate": {
                  "type": "number"
               },
               "tenor_time_unit": {
                  "$ref": "#/components/schemas/quantra_enums_TimeUnit"
               },
               "tenor_number": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "calendar": {
                  "$ref": "#/components/schemas/quantra_enums_Calendar"
               },
               "sw_fixed_leg_frequency": {
                  "$ref": "#/components/schemas/quantra_enums_Frequency"
               },
               "sw_fixed_leg_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "sw_fixed_leg_day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               },
               "sw_floating_leg_index": {
                  "$ref": "#/components/schemas/quantra_enums_Ibor"
               },
               "spread": {
                  "type": "number"
               },
               "fwd_start_days": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               }
            },
            "additionalProperties": false
         },
         "quantra_BondHelper": {
            "type": "object",
            "properties": {
               "rate": {
                  "type": "number"
               },
               "settlement_days": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "face_amount": {
                  "type": "number"
               },
               "schedule": {
                  "$ref": "#/components/schemas/quantra_Schedule"
               },
               "coupon_rate": {
                  "type": "number"
               },
               "day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               },
               "business_day_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "redemption": {
                  "type": "number"
               },
               "issue_date": {
                  "type": "string"
               }
            },
            "additionalProperties": false
         },
         "quantra_PointsWrapper": {
            "type": "object",
            "properties": {
               "point_type": {
                  "$ref": "#/components/schemas/quantra_Point"
               },
               "point": {
                  "anyOf": [
                     {
                        "$ref": "#/components/schemas/quantra_DepositHelper"
                     },
                     {
                        "$ref": "#/components/schemas/quantra_FRAHelper"
                     },
                     {
                        "$ref": "#/components/schemas/quantra_FutureHelper"
                     },
                     {
                        "$ref": "#/components/schemas/quantra_SwapHelper"
                     },
                     {
                        "$ref": "#/components/schemas/quantra_BondHelper"
                     }
                  ]
               }
            },
            "additionalProperties": false
         },
         "quantra_TermStructure": {
            "type": "object",
            "properties": {
               "id": {
                  "type": "string"
               },
               "day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               },
               "interpolator": {
                  "$ref": "#/components/schemas/quantra_enums_Interpolator"
               },
               "bootstrap_trait": {
                  "$ref": "#/components/schemas/quantra_enums_BootstrapTrait"
               },
               "points": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/quantra_PointsWrapper"
                  }
               },
               "as_of_date": {
                  "type": "string"
               }
            },
            "additionalProperties": false
         },
         "quantra_Yield": {
            "type": "object",
            "properties": {
               "day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               },
               "compounding": {
                  "$ref": "#/components/schemas/quantra_enums_Compounding"
               },
               "frequency": {
                  "$ref": "#/components/schemas/quantra_enums_Frequency"
               }
            },
            "additionalProperties": false
         },
         "quantra_Pricing": {
            "type": "object",
            "properties": {
               "as_of_date": {
                  "type": "string"
               },
               "curves": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/quantra_TermStructure"
                  }
               },
               "bond_pricing_details": {
                  "type": "boolean"
               },
               "bond_pricing_flows": {
                  "type": "boolean"
               }
            },
            "additionalProperties": false
         },
         "quantra_Error": {
            "type": "object",
            "properties": {
               "error_message": {
                  "type": "string"
               }
            },
            "additionalProperties": false
         },
         "quantra_FixedRateBond": {
            "type": "object",
            "properties": {
               "settlement_days": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "face_amount": {
                  "type": "number"
               },
               "rate": {
                  "type": "number"
               },
               "accrual_day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               },
               "payment_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "redemption": {
                  "type": "number"
               },
               "issue_date": {
                  "type": "string"
               },
               "schedule": {
                  "$ref": "#/components/schemas/quantra_Schedule"
               }
            },
            "additionalProperties": false
         },
         "quantra_Fixing": {
            "type": "object",
            "properties": {
               "date": {
                  "type": "string"
               },
               "rate": {
                  "type": "number"
               }
            },
            "additionalProperties": false
         },
         "quantra_Index": {
            "type": "object",
            "properties": {
               "period_number": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "period_time_unit": {
                  "$ref": "#/components/schemas/quantra_enums_TimeUnit"
               },
               "settlement_days": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "calendar": {
                  "$ref": "#/components/schemas/quantra_enums_Calendar"
               },
               "business_day_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "end_of_month": {
                  "type": "boolean"
               },
               "day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               },
               "fixings": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/quantra_Fixing"
                  }
               }
            },
            "additionalProperties": false
         },
         "quantra_FloatingRateBond": {
            "type": "object",
            "properties": {
               "settlement_days": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "face_amount": {
                  "type": "number"
               },
               "schedule": {
                  "$ref": "#/components/schemas/quantra_Schedule"
               },
               "index": {
                  "$ref": "#/components/schemas/quantra_Index"
               },
               "accrual_day_counter": {
                  "$ref": "#/components/schemas/quantra_enums_DayCounter"
               },
               "payment_convention": {
                  "$ref": "#/components/schemas/quantra_enums_BusinessDayConvention"
               },
               "fixing_days": {
                  "type": "integer",
                  "minimum": -2147483648,
                  "maximum": 2147483647
               },
               "spread": {
                  "type": "number"
               },
               "in_arrears": {
                  "type": "boolean"
               },
               "redemption": {
                  "type": "number"
               },
               "issue_date": {
                  "type": "string"
               }
            },
            "additionalProperties": false
         },
         "quantra_PriceFixedRateBond": {
            "type": "object",
            "properties": {
               "fixed_rate_bond": {
                  "$ref": "#/components/schemas/quantra_FixedRateBond"
               },
               "discounting_curve": {
                  "type": "string"
               },
               "yield": {
                  "$ref": "#/components/schemas/quantra_Yield"
               }
            },
            "additionalProperties": false
         },
         "quantra_PriceFixedRateBondRequest": {
            "type": "object",
            "properties": {
               "pricing": {
                  "$ref": "#/components/schemas/quantra_Pricing"
               },
               "bonds": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/quantra_PriceFixedRateBond"
                  }
               }
            },
            "additionalProperties": false
         },
         "quantra_Flow": {
            "type": "string",
            "enum": [
               "NONE",
               "FlowInterest",
               "FlowPastInterest",
               "FlowNotional"
            ]
         },
         "quantra_FlowInterest": {
            "type": "object",
            "properties": {
               "amount": {
                  "type": "number"
               },
               "accrual_start_date": {
                  "type": "string"
               },
               "accrual_end_date": {
                  "type": "string"
               },
               "discount": {
                  "type": "number"
               },
               "rate": {
                  "type": "number"
               },
               "price": {
                  "type": "number"
               }
            },
            "additionalProperties": false
         },
         "quantra_FlowPastInterest": {
            "type": "object",
            "properties": {
               "amount": {
                  "type": "number"
               },
               "accrual_start_date": {
                  "type": "string"
               },
               "accrual_end_date": {
                  "type": "string"
               },
               "rate": {
                  "type": "number"
               }
            },
            "additionalProperties": false
         },
         "quantra_FlowNotional": {
            "type": "object",
            "properties": {
               "date": {
                  "type": "string"
               },
               "amount": {
                  "type": "number"
               },
               "discount": {
                  "type": "number"
               },
               "price": {
                  "type": "number"
               }
            },
            "additionalProperties": false
         },
         "quantra_FlowsWrapper": {
            "type": "object",
            "properties": {
               "flow_type": {
                  "$ref": "#/components/schemas/quantra_Flow"
               },
               "flow": {
                  "anyOf": [
                     {
                        "$ref": "#/components/schemas/quantra_FlowInterest"
                     },
                     {
                        "$ref": "#/components/schemas/quantra_FlowPastInterest"
                     },
                     {
                        "$ref": "#/components/schemas/quantra_FlowNotional"
                     }
                  ]
               }
            },
            "additionalProperties": false
         },
         "quantra_FixedRateBondResponse": {
            "type": "object",
            "properties": {
               "npv": {
                  "type": "number"
               },
               "clean_price": {
                  "type": "number"
               },
               "dirty_price": {
                  "type": "number"
               },
               "accrued_amount": {
                  "type": "number"
               },
               "yield": {
                  "type": "number"
               },
               "accrued_days": {
                  "type": "number"
               },
               "macaulay_duration": {
                  "type": "number"
               },
               "modified_duration": {
                  "type": "number"
               },
               "convexity": {
                  "type": "number"
               },
               "bps": {
                  "type": "number"
               },
               "flows": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/quantra_FlowsWrapper"
                  }
               }
            },
            "additionalProperties": false
         },
         "quantra_PriceFixedRateBondResponse": {
            "type": "object",
            "properties": {
               "bonds": {
                  "type": "array",
                  "items": {
                     "$ref": "#/components/schemas/quantra_FixedRateBondResponse"
                  }
               }
            }
         }
      }
   },
   "externalDocs": {
      "description": "Find out more about quantra.io",
      "url": "https://quantra.io"
   }
}