openapi: 3.0.0
info:
  description: "API definition for quantra.io. [More information here](https://quantra.io/)."
  version: "1.0.0"
  title: "quantra.io"
  termsOfService: "https://quantra.io"
  contact:
    email: "hello@quantra.io"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
servers:
  - url: https://api.quantra.io
tags:
  - name: "Enum"
    description: "QuantLib enumeration values requests"
paths:
  /price_fixed_rate_bond:
    post:
      tags:
        - "Bond pricing"
      summary: "Endpoint to price fixed rate coupon bond"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/price_fixed_rate_bond_request"
      responses:
        "200":
          description: OK
          content:
            text/json:
              schema:
                $ref: "#/components/schemas/price_fixed_rate_bond_response"
  /price_floating_rate_bond:
    post:
      tags:
        - "Bond pricing"
      summary: "Endpoint to price floating rate coupon bond"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/price_floating_rate_bond_request"
      responses:
        "200":
          description: OK
          content:
            text/json:
              schema:
                $ref: "#/components/schemas/price_floating_rate_bond_response"

components:
  schemas:
    time_unit:
      type: string
      enum: &TIMEUNIT
        - Days
        - Hours
        - Microseconds
        - Milliseconds
        - Minutes
        - Months
        - Seconds
        - Weeks
        - Years
    calendar:
      type: string
      enum: &CALENDAR
        - Argentina
        - Australia
        - BespokeCalendar
        - Brazil
        - Canada
        - China
        - CzechRepublic
        - Denmark
        - Finland
        - Germany
        - HongKong
        - Hungary
        - Iceland
        - India
        - Indonesia
        - Israel
        - Italy
        - Japan
        - Mexico
        - NewZealand
        - Norway
        - NullCalendar
        - Poland
        - Romania
        - Russia
        - SaudiArabia
        - Singapore
        - Slovakia
        - SouthAfrica
        - SouthKorea
        - Sweden
        - Switzerland
        - TARGET
        - Taiwan
        - Turkey
        - Ukraine
        - UnitedKingdom
        - UnitedStates
        - UnitedStatesGovernmentBond
        - UnitedStatesNERC
        - UnitedStatesNYSE
        - UnitedStatesSettlement
        - WeekendsOnl
    day_counter:
      type: string
      enum: &DAYCOUNTER
        - Actual360
        - Actual365Fixed
        - Actual365NoLeap
        - ActualActual
        - Business252
        - One
        - Simple
        - Thirty360
    ibor:
      type: string
      enum: &IBOR
        - Euribor10M
        - Euribor11M
        - Euribor1M
        - Euribor1Y
        - Euribor2M
        - Euribor2W
        - Euribor365_10M
        - Euribor365_11M
        - Euribor365_1M
        - Euribor365_1Y
        - Euribor365_2M
        - Euribor365_2W
        - Euribor365_3M
        - Euribor365_3W
        - Euribor365_4M
        - Euribor365_5M
        - Euribor365_6M
        - Euribor365_7M
        - Euribor365_8M
        - Euribor365_9M
        - Euribor365_SW
        - Euribor3M
        - Euribor3W
        - Euribor4M
        - Euribor5M
        - Euribor6M
        - Euribor7M
        - Euribor8M
        - Euribor9M
        - EuriborSW
    point_types:
      type: string
      enum: &POINTTYPES
        - Bond
        - dated_OIS
        - deposit
        - Fra
        - future
        - OIS
        - swap
    swap_types:
      type: string
      enum: &SWAPTYPES
        - Payer
        - Receiver
    compounding:
      type: string
      enum: &COMPOUNDING
        - Compounded
        - Continuous
        - Simple
        - SimpleThenCompounded
    frequency:
      type: string
      enum: &FREQUENCY
        - Annual
        - Bimonthly
        - Biweekly
        - Daily
        - EveryFourthMonth
        - EveryFourthWeek
        - Monthly
        - NoFrequency
        - Once
        - OtherFrequency
        - Quarterly
        - Semiannual
        - Weekly
    convention:
      type: string
      enum: &CONVENTION
        - Following
        - HalfMonthModifiedFollowing
        - ModifiedFollowing
        - ModifiedPreceding
        - Nearest
        - Preceding
        - Unadjusted
    overnight_index:
      type: string
      enum: &OVERNIGHTINDEX
        - Eonia
        - Sonia
    date_generation_rule:
      type: string
      enum: &DATEGENERATIONRULE
        - Backward
        - CDS
        - Forward
        - OldCDS
        - ThirdWednesday
        - Twentieth
        - TwentiethIMM
        - Zero
    interpolator:
      type: string
      enum: &INTERPOLATOR
        - BackwardFlat
        - ForwardFlat
        - Linear
        - LogCubic
        - LogLinear
    bootstrap_trait:
      type: string
      enum: &BOOTSTRAPTRAIT
        - discount
        - FwdRate
        - InterpolatedDiscount
        - InterpolatedFwd
        - InterpolatedZero
        - ZeroRate
    week_day:
      type: string
      enum: &WEEKDAY
        - Monday
        - Tuesday
        - Wednesday
        - Thursday
        - Friday
        - Saturday
        - Sunday
    month:
      type: string
      enum: &MONTH
        - January
        - February
        - March
        - April
        - May
        - June
        - July
        - August
        - September
        - October
        - November
        - December
    schedule:
      type: object
      properties:
        calendar:
          $ref: "#/components/schemas/calendar"
        effective_date:
          type: string
          format: date
        termination_date:
          type: string
          format: date
        frequency:
          $ref: "#/components/schemas/frequency"
        convention:
          $ref: "#/components/schemas/convention"
        termination_date_convention:
          $ref: "#/components/schemas/convention"
        date_generation_rule:
          $ref: "#/components/schemas/date_generation_rule"
        end_of_month:
          type: boolean
    yield:
      type: object
      description: "structure to create yield parametrization"
      properties:
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "yield calculation day counter"
        compounding:
          allOf:
            - $ref: "#/components/schemas/compounding"
          description: "yield calculation compounding"
        frequency:
          allOf:
            - $ref: "#/components/schemas/frequency"
          description: "yield calculation frequency"
    index:
      type: object
      description: "structure to create an Index. When needed for accrued calculations, past fixings will be added under Index structure"
      properties:
        settlement_days:
          type: integer
          description: "Index settlement days"
        calendar:
          allOf:
            - $ref: "#/components/schemas/calendar"
          description: "Index calendar"
        convention:
          allOf:
            - $ref: "#/components/schemas/convention"
          description: "Index convention"
        end_of_month:
          type: boolean
          description: "Adjust to end of month rule applied to the index"
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Index day counter"
        fixings:
          description: "Optional. Array of fixings for past flows."
          type: array
          items:
            $ref: "#/components/schemas/date_rate"
    date_rate:
      type: object
      description: "Fixing object. rate and date"
      properties:
        Date:
          type: string
          format: date
        rate:
          type: number
          format: float
    fixed_rate_bond:
      type: object
      description: "Structure to create fixed rate bonds."
      properties:
        settlement_days:
          type: integer
          description: "Index settlement days"
        face_amount:
          type: number
          format: float
          description: "Bond face amount"
        rate:
          type: number
          format: float
          description: "Bond rate"
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Accrual day counter"
        convention:
          allOf:
            - $ref: "#/components/schemas/convention"
          description: "Payment convention"
        redemption:
          type: number
          format: float
          description: "redemption price"
        issue_date:
          type: string
          format: date
          description: "Bond issue date"
        schedule:
          allOf:
            - $ref: "#/components/schemas/schedule"
          description: "Payment schedule"
        yield:
          allOf:
            - $ref: "#/components/schemas/yield"
          description: "yield parametrization"
    floating_rate_bond:
      type: object
      description: "Structure to create floating rate bonds."
      properties:
        settlement_days:
          type: integer
          description: "Index settlement days"
        face_amount:
          type: number
          format: float
          description: "Bond face amount"
        spread:
          type: number
          format: float
          description: "Bond rate"
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Accrual day counter"
        convention:
          allOf:
            - $ref: "#/components/schemas/convention"
          description: "Payment convention"
        redemption:
          type: number
          format: float
          description: "redemption price"
        issue_date:
          type: string
          format: date
          description: "Bond issue date"
        frequency:
          allOf:
            - $ref: "#/components/schemas/frequency"
          description: "Payment frquency"
        index:
          allOf:
            - $ref: "#/components/schemas/index"
          description: "Index parametrization"
        schedule:
          allOf:
            - $ref: "#/components/schemas/schedule"
          description: "Payment schedule"
        yield:
          allOf:
            - $ref: "#/components/schemas/yield"
          description: "yield parametrization"
    deposit:
      type: object
      description: "deposit curve point"
      properties:
        rate:
          type: number
          format: float
        tenor_time_unit:
          allOf:
            - $ref: "#/components/schemas/time_unit"
          description: "Time unit to be used along with tenor_number to calculate deposit tenor (tenor = time_unit * tenor_number)"
        tenor_number:
          type: integer
          description: "Tenor number to be used along with time_unit to calculate deposit tenor (tenor = time_unit * tenor_number)"
        fixing_days:
          type: integer
          description: "rate fixing days"
        calendar:
          allOf:
            - $ref: "#/components/schemas/calendar"
          description: "deposit schedule calendar"
        business_day_convention:
          allOf:
            - $ref: "#/components/schemas/convention"
          description: "Business day convention used for deposit schedule"
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Day counter base used to discount"
    FRA:
      type: object
      description: "FRA curve point"
      properties:
        rate:
          type: number
          format: float
        months_to_start:
          type: integer
          description: "Months to start FRA"
        months_to_end:
          type: integer
          description: "Months to end FRA"
        fixing_days:
          type: integer
          description: "rate fixing days"
        calendar:
          allOf:
            - $ref: "#/components/schemas/calendar"
          description: "FRA calendar"
        business_day_convention:
          allOf:
            - $ref: "#/components/schemas/convention"
          description: "Business day convention used for deposit schedule"
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Day counter base used to discount"
    future:
      type: object
      description: "future curve point"
      properties:
        rate:
          type: number
          format: float
        future_start_date:
          type: string
          format: date
          description: "future start date. I has to be a valid IMM date. Check IMM dates"
        future_months:
          type: integer
          description: "future duration in months"
        calendar:
          allOf:
            - $ref: "#/components/schemas/calendar"
          description: "future calendar"
        business_day_convention:
          allOf:
            - $ref: "#/components/schemas/convention"
          description: "Business day convention used for future schedule"
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Day counter base used to discount"
    swap:
      type: object
      description: "swap curve point"
      properties:
        rate:
          type: number
          format: float
        tenor_time_unit:
          allOf:
            - $ref: "#/components/schemas/time_unit"
          description: "Time unit to be used along with tenor_number to calculate deposit tenor (tenor = time_unit * tenor_number)"
        tenor_number:
          type: integer
          description: "Tenor number to be used along with time_unit to calculate deposit tenor (tenor = time_unit * tenor_number)"
        sw_fixed_leg_frequency:
          allOf:
            - $ref: "#/components/schemas/frequency"
          description: "Fixed leg frequency."
        sw_fixed_leg_convention:
          allOf:
            - $ref: "#/components/schemas/convention"
          description: "Business day convention used for swap fixed leg schedule."
        sw_fixed_leg_day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Day counter for swap fixed leg."
        sw_floating_index:
          allOf:
            - $ref: "#/components/schemas/index"
          description: "Index used for floating leg schedule. Frequency, day convention and day counter will be derived from it."
        #TODO replace by the therm structure when finished
        discounting_term_structure:
          allOf:
            - $ref: "#/components/schemas/index"
          description: "Optional. Exogeneous discounting term structure."
    bond:
      type: object
      description: "Fixed bond curve point"
      properties:
        rate:
          type: number
          format: float
          description: "Bond price"
        fixing_days:
          type: integer
          description: "rate fixing days"
        face_amount:
          type: number
          format: float
          description: "Bond face amount"
        schedule:
          allOf:
            - $ref: "#/components/schemas/schedule"
          description: "Bond payment schedule parametrization"
        coupon_rate:
          type: number
          format: float
          description: "Bond coupon rate"
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Day counter base used to discount"
        business_day_convention:
          allOf:
            - $ref: "#/components/schemas/convention"
          description: "Business day convention used for deposit schedule"
        redemption:
          type: number
          format: float
          description: "Bond redemption price"
        issue_sate:
          type: string
          format: date
          description: "Bond issue date"
    OIS:
      type: object
      description: "OIS curve point"
      properties:
        rate:
          type: number
          format: float
          description: "OIS price"
        tenor_time_unit:
          allOf:
            - $ref: "#/components/schemas/time_unit"
          description: "Time unit to be used along with tenor_number to calculate deposit tenor (tenor = time_unit * tenor_number)"
        tenor_number:
          type: integer
          description: "Tenor number to be used along with time_unit to calculate deposit tenor (tenor = time_unit * tenor_number)"
        fixing_days:
          type: integer
          description: "rate fixing days"
        overnight_index:
          allOf:
            - $ref: "#/components/schemas/overnight_index"
          description: "Overnight index"
    dated_OIS:
      type: object
      description: "Dated OIS curve point"
      properties:
        rate:
          type: number
          format: float
          description: "OIS price"
        start_date:
          type: string
          format: date
          description: "future start date"
        end_date:
          type: string
          format: date
          description: "future end date"
        overnight_index:
          allOf:
            - $ref: "#/components/schemas/overnight_index"
          description: "Overnight index"
    term_structure:
      type: object
      description: "curve parametrization"
      properties:
        day_counter:
          allOf:
            - $ref: "#/components/schemas/day_counter"
          description: "Day counter base"
        interpolator:
          allOf:
            - $ref: "#/components/schemas/interpolator"
          description: "Interpolation used to generate the curve"
        bootstrap_trait:
          allOf:
            - $ref: "#/components/schemas/bootstrap_trait"
          description: "Trait to bootstrap the curve"
    curve:
      type: object
      description: "curve to be used for pricing purposes"
      properties:
        id:
          type: string
          description: "id of the curve to set as discounting, fwd, ..."
          example: "term_structure"
        term_structure:
          allOf:
            - $ref: "#/components/schemas/term_structure"
          description: "Term structure for the curve"
        points:
          anyOf:
            - $ref: "#/components/schemas/deposit"
            - $ref: "#/components/schemas/FRA"
            - $ref: "#/components/schemas/future"
            - $ref: "#/components/schemas/swap"
            - $ref: "#/components/schemas/bond"
            - $ref: "#/components/schemas/OIS"
            - $ref: "#/components/schemas/dated_OIS"
        Jumps:
          type: array
          items:
            $ref: "#/components/schemas/date_rate"
    pricing:
      type: object
      description: "pricing options"
      properties:
        as_of_date:
          type: string
          format: date
    fixed_past_interest:
      type: object
      properties:
        type:
          type: string
        accrual_start_date:
          type: string
          format: date
        accrual_end_date:
          type: string
          format: date
        amount:
          type: number
          format: float
        rate:
          type: number
          format: float
    fixed_interest:
      type: object
      properties:
        type:
          type: string
        accrual_start_date:
          type: string
          format: date
        accrual_end_date:
          type: string
          format: date
        amount:
          type: number
          format: float
        rate:
          type: number
          format: float
        discount:
          type: number
          format: float
        price:
          type: number
          format: float
    floating_past_interest:
      type: object
      properties:
        type:
          type: string
        accrual_start_date:
          type: string
          format: date
        accrual_end_date:
          type: string
          format: date
        amount:
          type: number
          format: float
        rate:
          type: number
          format: float
        FixingDate:
          type: string
          format: date
    floating_interest:
      type: object
      properties:
        type:
          type: string
        accrual_start_date:
          type: string
          format: date
        accrual_end_date:
          type: string
          format: date
        amount:
          type: number
          format: float
        rate:
          type: number
          format: float
        discount:
          type: number
          format: float
        price:
          type: number
          format: float
        FixingDate:
          type: string
          format: date
    notional:
      type: object
      properties:
        type:
          type: string
        Date:
          type: string
          format: date
        amount:
          type: number
          format: float
        discount:
          type: number
          format: float
        price:
          type: number
          format: float
    flow:
      type: object
      properties:
        Date:
          type: string
          format: date
        amount:
          type: number
          format: float
        discount:
          type: number
          format: float
        price:
          type: number
          format: float
    fixed_flow:
      type: object
      properties:
        Date:
          type: string
          format: date
        amount:
          type: number
          format: float
        discount:
          type: number
          format: float
        price:
          type: number
          format: float
        accrual_start_date:
          type: string
          format: date
        accrual_end_date:
          type: string
          format: date
    floating_flow:
      type: object
      properties:
        Date:
          type: string
          format: date
        amount:
          type: number
          format: float
        Fixing:
          type: number
          format: float
        discount:
          type: number
          format: float
        price:
          type: number
          format: float
        accrual_start_date:
          type: string
          format: date
        accrual_end_date:
          type: string
          format: date
    price_fixed_rate_bond_request:
      type: object
      description: "Endpoint to get the nodes which will be used to interpolate"
      properties:
        pricing:
          $ref: "#/components/schemas/pricing"
        fixed_rate_bond:
          $ref: "#/components/schemas/fixed_rate_bond"
        curves:
          type: array
          description: "List of term structures with one element. This term structure needs to have the id set to DiscountingTermStructure"
          items:
            $ref: "#/components/schemas/curve"
    price_fixed_rate_bond_response:
      type: object
      properties:
        message:
          type: object
          properties:
            accrued_days:
              type: number
              format: float
            yield:
              type: number
              format: float
            dirty_price:
              type: number
              format: float
            clean_price:
              type: number
              format: float
            macaulay_duration:
              type: number
              format: float
            NPV:
              type: number
              format: float
            BPS:
              type: number
              format: float
            convexity:
              type: number
              format: float
            modified_duration:
              type: number
              format: float
            accrued_amount:
              type: number
              format: float
            flows:
              type: array
              items:
                anyOf:
                  - $ref: "#/components/schemas/fixed_past_interest"
                  - $ref: "#/components/schemas/fixed_interest"
                  - $ref: "#/components/schemas/notional"
                discriminator:
                  propertyName: type
    price_floating_rate_bond_request:
      type: object
      description: "Endpoint to price a floating rate bond"
      properties:
        pricing:
          $ref: "#/components/schemas/pricing"
        floating_rate_bond:
          $ref: "#/components/schemas/floating_rate_bond"
        curves:
          type: array
          description: "List of term structures with two element. The discounting term structure has to have the id set to DiscountingTermStructure and the forward term structure to ForecastingTermStructure"
          items:
            $ref: "#/components/schemas/curve"
    price_floating_rate_bond_response:
      type: object
      properties:
        message:
          type: object
          properties:
            accrued_days:
              type: number
              format: float
            yield:
              type: number
              format: float
            dirty_price:
              type: number
              format: float
            clean_price:
              type: number
              format: float
            macaulay_duration:
              type: number
              format: float
            NPV:
              type: number
              format: float
            BPS:
              type: number
              format: float
            convexity:
              type: number
              format: float
            modified_duration:
              type: number
              format: float
            accrued_amount:
              type: number
              format: float
            flows:
              type: array
              items:
                anyOf:
                  - $ref: "#/components/schemas/floating_past_interest"
                  - $ref: "#/components/schemas/floating_interest"
                  - $ref: "#/components/schemas/notional"
                discriminator:
                  propertyName: type
externalDocs:
  description: "Find out more about quantra.io"
  url: "https://quantra.io"
