{
  "swagger": "2.0",
  "info": {
    "contact": {
      "email": "hello@quantra.io"
    },
    "description": "API definition for quantra.io. [More information here](https://quantra.io/).",
    "license": {
      "name": "Apache 2.0",
      "url": "http://www.apache.org/licenses/LICENSE-2.0.html"
    },
    "termsOfService": "https://quantra.io",
    "title": "quantra.io",
    "version": "1.0.0"
  },
  "host": "json.quantra.io",
  "x-google-endpoints":{
    "name": "my-cool-api.endpoints.my-project-id.cloud.goog",
    "allowCors": true
  },
  "basePath": "/",
  "schemes": [
    "https"
  ],
  "paths": {
    "/price-fixed-rate-bond": {
      "post": {
        "operationId": "Endpointtopricefixedratecouponbond",
        "consumes": [
          "application/json"
        ],
        "produces": [
          "text/json"
        ],
        "parameters": [
          {
            "in": "body",
            "name": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/quantra_PriceFixedRateBond"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/quantra_PriceFixedRateBondResponse"
            }
          }
        },
        "tags": [
          "Bond pricing"
        ],
        "summary": "Endpoint to price fixed rate coupon bond"
      }
    }
  },
  "definitions": {
    "quantra_BondHelper": {
      "additionalProperties": false,
      "properties": {
        "business_day_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "coupon_rate": {
          "type": "number"
        },
        "day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "face_amount": {
          "type": "number"
        },
        "issue_date": {
          "type": "string"
        },
        "rate": {
          "type": "number"
        },
        "redemption": {
          "type": "number"
        },
        "schedule": {
          "$ref": "#/definitions/quantra_Schedule"
        },
        "settlement_days": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "quantra_DepositHelper": {
      "additionalProperties": false,
      "properties": {
        "business_day_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "calendar": {
          "$ref": "#/definitions/quantra_enums_Calendar"
        },
        "day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "fixing_days": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "rate": {
          "type": "number"
        },
        "tenor_number": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "tenor_time_unit": {
          "$ref": "#/definitions/quantra_enums_TimeUnit"
        }
      },
      "type": "object"
    },
    "quantra_Error": {
      "additionalProperties": false,
      "properties": {
        "error_message": {
          "type": "string"
        }
      },
      "type": "object"
    },
    "quantra_FRAHelper": {
      "additionalProperties": false,
      "properties": {
        "business_day_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "calendar": {
          "$ref": "#/definitions/quantra_enums_Calendar"
        },
        "day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "fixing_days": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "months_to_end": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "months_to_start": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "rate": {
          "type": "number"
        }
      },
      "type": "object"
    },
    "quantra_FixedRateBond": {
      "additionalProperties": false,
      "properties": {
        "accrual_day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "face_amount": {
          "type": "number"
        },
        "issue_date": {
          "type": "string"
        },
        "payment_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "rate": {
          "type": "number"
        },
        "redemption": {
          "type": "number"
        },
        "schedule": {
          "$ref": "#/definitions/quantra_Schedule"
        },
        "settlement_days": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "quantra_FixedRateBondResponse": {
      "additionalProperties": false,
      "properties": {
        "accrued_amount": {
          "type": "number"
        },
        "accrued_days": {
          "type": "number"
        },
        "bps": {
          "type": "number"
        },
        "clean_price": {
          "type": "number"
        },
        "convexity": {
          "type": "number"
        },
        "dirty_price": {
          "type": "number"
        },
        "flows": {
          "items": {
            "$ref": "#/definitions/quantra_FlowsWrapper"
          },
          "type": "array"
        },
        "macaulay_duration": {
          "type": "number"
        },
        "modified_duration": {
          "type": "number"
        },
        "npv": {
          "type": "number"
        },
        "yield": {
          "type": "number"
        }
      },
      "type": "object"
    },
    "quantra_Fixing": {
      "additionalProperties": false,
      "properties": {
        "date": {
          "type": "string"
        },
        "rate": {
          "type": "number"
        }
      },
      "type": "object"
    },
    "quantra_FloatingRateBond": {
      "additionalProperties": false,
      "properties": {
        "accrual_day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "face_amount": {
          "type": "number"
        },
        "fixing_days": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "in_arrears": {
          "type": "boolean"
        },
        "index": {
          "$ref": "#/definitions/quantra_Index"
        },
        "issue_date": {
          "type": "string"
        },
        "payment_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "redemption": {
          "type": "number"
        },
        "schedule": {
          "$ref": "#/definitions/quantra_Schedule"
        },
        "settlement_days": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "spread": {
          "type": "number"
        }
      },
      "type": "object"
    },
    "quantra_Flow": {
      "enum": [
        "NONE",
        "FlowInterest",
        "FlowPastInterest",
        "FlowNotional"
      ],
      "type": "string"
    },
    "quantra_FlowInterest": {
      "additionalProperties": false,
      "properties": {
        "accrual_end_date": {
          "type": "string"
        },
        "accrual_start_date": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        },
        "discount": {
          "type": "number"
        },
        "price": {
          "type": "number"
        },
        "rate": {
          "type": "number"
        }
      },
      "type": "object"
    },
    "quantra_FlowNotional": {
      "additionalProperties": false,
      "properties": {
        "amount": {
          "type": "number"
        },
        "date": {
          "type": "string"
        },
        "discount": {
          "type": "number"
        },
        "price": {
          "type": "number"
        }
      },
      "type": "object"
    },
    "quantra_FlowPastInterest": {
      "additionalProperties": false,
      "properties": {
        "accrual_end_date": {
          "type": "string"
        },
        "accrual_start_date": {
          "type": "string"
        },
        "amount": {
          "type": "number"
        },
        "rate": {
          "type": "number"
        }
      },
      "type": "object"
    },
    "quantra_FlowsWrapper": {
      "additionalProperties": false,
      "properties": {
        "flow": {},
        "flow_type": {
          "$ref": "#/definitions/quantra_Flow"
        }
      },
      "type": "object"
    },
    "quantra_FutureHelper": {
      "additionalProperties": false,
      "properties": {
        "business_day_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "calendar": {
          "$ref": "#/definitions/quantra_enums_Calendar"
        },
        "day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "future_months": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "future_start_date": {
          "type": "string"
        },
        "rate": {
          "type": "number"
        }
      },
      "type": "object"
    },
    "quantra_Index": {
      "additionalProperties": false,
      "properties": {
        "business_day_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "calendar": {
          "$ref": "#/definitions/quantra_enums_Calendar"
        },
        "day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "end_of_month": {
          "type": "boolean"
        },
        "fixings": {
          "items": {
            "$ref": "#/definitions/quantra_Fixing"
          },
          "type": "array"
        },
        "period_number": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "period_time_unit": {
          "$ref": "#/definitions/quantra_enums_TimeUnit"
        },
        "settlement_days": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        }
      },
      "type": "object"
    },
    "quantra_Point": {
      "enum": [
        "NONE",
        "DepositHelper",
        "FRAHelper",
        "FutureHelper",
        "SwapHelper",
        "BondHelper"
      ],
      "type": "string"
    },
    "quantra_PointsWrapper": {
      "additionalProperties": false,
      "properties": {
        "point": {},
        "point_type": {
          "$ref": "#/definitions/quantra_Point"
        }
      },
      "type": "object"
    },
    "quantra_PriceFixedRateBond": {
      "additionalProperties": false,
      "properties": {
        "discounting_curve": {
          "type": "string"
        },
        "fixed_rate_bond": {
          "$ref": "#/definitions/quantra_FixedRateBond"
        },
        "yield": {
          "$ref": "#/definitions/quantra_Yield"
        }
      },
      "type": "object"
    },
    "quantra_PriceFixedRateBondRequest": {
      "additionalProperties": false,
      "properties": {
        "bonds": {
          "items": {
            "$ref": "#/definitions/quantra_PriceFixedRateBond"
          },
          "type": "array"
        },
        "pricing": {
          "$ref": "#/definitions/quantra_Pricing"
        }
      },
      "type": "object"
    },
    "quantra_PriceFixedRateBondResponse": {
      "properties": {
        "bonds": {
          "items": {
            "$ref": "#/definitions/quantra_FixedRateBondResponse"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "quantra_Pricing": {
      "additionalProperties": false,
      "properties": {
        "as_of_date": {
          "type": "string"
        },
        "bond_pricing_details": {
          "type": "boolean"
        },
        "bond_pricing_flows": {
          "type": "boolean"
        },
        "curves": {
          "items": {
            "$ref": "#/definitions/quantra_TermStructure"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "quantra_Schedule": {
      "additionalProperties": false,
      "properties": {
        "calendar": {
          "$ref": "#/definitions/quantra_enums_Calendar"
        },
        "convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "date_generation_rule": {
          "$ref": "#/definitions/quantra_enums_DateGenerationRule"
        },
        "effective_date": {
          "type": "string"
        },
        "end_of_month": {
          "type": "boolean"
        },
        "frequency": {
          "$ref": "#/definitions/quantra_enums_Frequency"
        },
        "termination_date": {
          "type": "string"
        },
        "termination_date_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        }
      },
      "type": "object"
    },
    "quantra_SwapHelper": {
      "additionalProperties": false,
      "properties": {
        "calendar": {
          "$ref": "#/definitions/quantra_enums_Calendar"
        },
        "fwd_start_days": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "rate": {
          "type": "number"
        },
        "spread": {
          "type": "number"
        },
        "sw_fixed_leg_convention": {
          "$ref": "#/definitions/quantra_enums_BusinessDayConvention"
        },
        "sw_fixed_leg_day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "sw_fixed_leg_frequency": {
          "$ref": "#/definitions/quantra_enums_Frequency"
        },
        "sw_floating_leg_index": {
          "$ref": "#/definitions/quantra_enums_Ibor"
        },
        "tenor_number": {
          "maximum": 2147483647,
          "minimum": -2147483648,
          "type": "integer"
        },
        "tenor_time_unit": {
          "$ref": "#/definitions/quantra_enums_TimeUnit"
        }
      },
      "type": "object"
    },
    "quantra_TermStructure": {
      "additionalProperties": false,
      "properties": {
        "as_of_date": {
          "type": "string"
        },
        "bootstrap_trait": {
          "$ref": "#/definitions/quantra_enums_BootstrapTrait"
        },
        "day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "id": {
          "type": "string"
        },
        "interpolator": {
          "$ref": "#/definitions/quantra_enums_Interpolator"
        },
        "points": {
          "items": {
            "$ref": "#/definitions/quantra_PointsWrapper"
          },
          "type": "array"
        }
      },
      "type": "object"
    },
    "quantra_Yield": {
      "additionalProperties": false,
      "properties": {
        "compounding": {
          "$ref": "#/definitions/quantra_enums_Compounding"
        },
        "day_counter": {
          "$ref": "#/definitions/quantra_enums_DayCounter"
        },
        "frequency": {
          "$ref": "#/definitions/quantra_enums_Frequency"
        }
      },
      "type": "object"
    },
    "quantra_enums_BootstrapTrait": {
      "enum": [
        "Discount",
        "FwdRate",
        "InterpolatedDiscount",
        "InterpolatedFwd",
        "InterpolatedZero",
        "ZeroRate"
      ],
      "type": "string"
    },
    "quantra_enums_BusinessDayConvention": {
      "enum": [
        "Following",
        "HalfMonthModifiedFollowing",
        "ModifiedFollowing",
        "ModifiedPreceding",
        "Nearest",
        "Preceding",
        "Unadjusted"
      ],
      "type": "string"
    },
    "quantra_enums_Calendar": {
      "enum": [
        "Argentina",
        "Australia",
        "BespokeCalendar",
        "Brazil",
        "Canada",
        "China",
        "CzechRepublic",
        "Denmark",
        "Finland",
        "Germany",
        "HongKong",
        "Hungary",
        "Iceland",
        "India",
        "Indonesia",
        "Israel",
        "Italy",
        "Japan",
        "Mexico",
        "NewZealand",
        "Norway",
        "NullCalendar",
        "Poland",
        "Romania",
        "Russia",
        "SaudiArabia",
        "Singapore",
        "Slovakia",
        "SouthAfrica",
        "SouthKorea",
        "Sweden",
        "Switzerland",
        "TARGET",
        "Taiwan",
        "Turkey",
        "Ukraine",
        "UnitedKingdom",
        "UnitedStates",
        "UnitedStatesGovernmentBond",
        "UnitedStatesNERC",
        "UnitedStatesNYSE",
        "UnitedStatesSettlement",
        "WeekendsOnly"
      ],
      "type": "string"
    },
    "quantra_enums_Compounding": {
      "enum": [
        "Compounded",
        "Continuous",
        "Simple",
        "SimpleThenCompounded"
      ],
      "type": "string"
    },
    "quantra_enums_DateGenerationRule": {
      "enum": [
        "Backward",
        "CDS",
        "Forward",
        "OldCDS",
        "ThirdWednesday",
        "Twentieth",
        "TwentiethIMM",
        "Zero"
      ],
      "type": "string"
    },
    "quantra_enums_DayCounter": {
      "enum": [
        "Actual360",
        "Actual365Fixed",
        "Actual365NoLeap",
        "ActualActual",
        "ActualActualISMA",
        "ActualActualBond",
        "ActualActualISDA",
        "ActualActualHistorical",
        "ActualActual365",
        "ActualActualAFB",
        "ActualActualEuro",
        "Business252",
        "One",
        "Simple",
        "Thirty360"
      ],
      "type": "string"
    },
    "quantra_enums_Frequency": {
      "enum": [
        "Annual",
        "Bimonthly",
        "Biweekly",
        "Daily",
        "EveryFourthMonth",
        "EveryFourthWeek",
        "Monthly",
        "NoFrequency",
        "Once",
        "OtherFrequency",
        "Quarterly",
        "Semiannual",
        "Weekly"
      ],
      "type": "string"
    },
    "quantra_enums_Ibor": {
      "enum": [
        "Euribor10M",
        "Euribor11M",
        "Euribor1M",
        "Euribor1Y",
        "Euribor2M",
        "Euribor2W",
        "Euribor365_10M",
        "Euribor365_11M",
        "Euribor365_1M",
        "Euribor365_1Y",
        "Euribor365_2M",
        "Euribor365_2W",
        "Euribor365_3M",
        "Euribor365_3W",
        "Euribor365_4M",
        "Euribor365_5M",
        "Euribor365_6M",
        "Euribor365_7M",
        "Euribor365_8M",
        "Euribor365_9M",
        "Euribor365_SW",
        "Euribor3M",
        "Euribor3W",
        "Euribor4M",
        "Euribor5M",
        "Euribor6M",
        "Euribor7M",
        "Euribor8M",
        "Euribor9M",
        "EuriborSW"
      ],
      "type": "string"
    },
    "quantra_enums_Interpolator": {
      "enum": [
        "BackwardFlat",
        "ForwardFlat",
        "Linear",
        "LogCubic",
        "LogLinear"
      ],
      "type": "string"
    },
    "quantra_enums_TimeUnit": {
      "enum": [
        "Days",
        "Hours",
        "Microseconds",
        "Milliseconds",
        "Minutes",
        "Months",
        "Seconds",
        "Weeks",
        "Years"
      ],
      "type": "string"
    }
  },
  "tags": [
    {
      "description": "QuantLib enumeration values requests",
      "name": "Enum"
    }
  ],
  "externalDocs": {
    "description": "Find out more about quantra.io",
    "url": "https://quantra.io"
  },
  "x-components": {}
}
